{% extends 'mailing/base.html' %}


{% block content%}
<div class="container">
    <div class="d-grid gap-2 col-3 mx-auto">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal"
                data-bs-whatever="@getbootstrap">Добавить клиента
        </button>
        <br>
    </div>


    <form method="post" enctype="multipart/form-data">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">
                            {% if object.date_create%}
                            Изменение рассылки
                            {% else %}
                            Добавление рассылки
                            {% endif %}
                        </h2>
                    </div>
                    <div class="card-body">
                        {{ formset.management_form }}
                        {% for form in formset.forms %}

                        {% csrf_token %}
                        {{ form.as_p }}

                        {% endfor %}

                        <button type="submit" class="btn btn-success">Сохранить</button>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>


            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">
                            Сообщение для рассылки:
                        </h2>
                    </div>
                    <div class="card-body">
                        {{ formset.management_form }}
                        {% for form in formset1.forms %}

                        {{ form.as_p }}

                        {% if not formloop.last %}
                        <br>
                        {% endif %}

                        {% endfor %}
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Добавить клиента</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    {% csrf_token %}
                    {{ form.as_p }}

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-success">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}