{% extends 'mailing/base.html' %}}


{% block content%}


<div class="container">
    <div class="row justify-content-center">

        <div class="row">
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-header p-3 pt-2">
                        <div class="text-end pt-1">
                            <p class="text-sm mb-0 text-capitalize">
                                <ya-tr-span data-type="trSpan">Рассылок всего</ya-tr-span>
                            </p>
                            <h4 class="mb-0">
                                <ya-tr-span>{{qty_mailing}}</ya-tr-span>
                            </h4>
                        </div>
                    </div>
                    <hr class="dark horizontal my-0">
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-header p-3 pt-2">
                        <div class="text-end pt-1">
                            <p class="text-sm mb-0 text-capitalize">Активных рассылок</p>
                            <h4 class="mb-0">{{activ_mailing}}</h4>
                        </div>
                    </div>
                    <hr class="dark horizontal my-0">
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-header p-3 pt-2">
                        <div class="text-end pt-1">
                            <p class="text-sm mb-0 text-capitalize">
                                <ya-tr-span data-index="45-0" data-translated="true" data-source-lang="en"
                                            data-target-lang="ru"
                                            data-value="New Clients" data-translation="Новые клиенты" data-ch="0"
                                            data-type="trSpan">Уникальных клиентов
                                </ya-tr-span>
                            </p>
                            <h4 class="mb-0">{{qty_client}}</h4>
                        </div>
                    </div>
                    <hr class="dark horizontal my-0">
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="card">
                    <div class="card-header p-3 pt-2">
                        <div class="text-end pt-1">
                            <p class="text-sm mb-0 text-capitalize">
                                <ya-tr-span>Продажи</ya-tr-span>
                            </p>
                            <h4 class="mb-0">$103,430</h4>
                        </div>
                    </div>
                    <hr class="dark horizontal my-0">
                </div>
            </div>
        </div>


        <div class="col-6 py-3">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Заголовок </h4>
                <p>Соображения высшего порядка, а также рамки и место обучения кадров позволяет оценить значение
                    соответствующих условий активизации. Разнообразный и богатый опыт рамки и место обучения кадров
                    способствует повышению актуальности модели развития! Соображения высшего порядка, а также дальнейшее
                    развитие различных форм деятельности позволяет оценить значение модели развития!
                </p>

                <hr>
                <h4 class="alert-heading">Количество уникальных клиентов для рассылок: </h4>
            </div>


        </div>


        <div class="col-6 py-3">
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    {% for object in photo_blog %}
                    <div class="carousel-item active" data-bs-interval="10000">


                        <div class="hover-effect-btn">
                            <img src="/media/{{object.preview}}" class="d-block w-100" alt="...">
                            <div class="overlay"></div>
                            <div class="button"><a href="#">Перейти к статье</a></div>


                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="title">{{object.title}}</h5>
                                <p>{{object.body}}</p>
                            </div>
                        </div>


                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Предыдущий</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Следующий</span>
                </button>
            </div>
        </div>


        <div class="row py-5">
            <div class="col">
                <div class="white_box min_430" style="position: relative;">
                    <div class="box_header  box_header_block">
                        <div class="main-title">
                            <h3 class="mb-0">% Выполненыех рассылок</h3>
                        </div>
                    </div>
                    <div id="radial_1" style="min-height: 200.7px;">
                        <div id="apexcharts8nkg1t98"
                             class="apexcharts-canvas apexcharts8nkg1t98 apexcharts-theme-light"
                             style="width: 281px; height: 200.7px;">
                            <svg id="SvgjsSvg1800" width="281" height="200.7" xmlns="http://www.w3.org/2000/svg"
                                 version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg"
                                 xmlns:data="ApexChartsNS"
                                 transform="translate(0, 0)" style="background: transparent;">
                                <g id="SvgjsG1802" class="apexcharts-inner apexcharts-graphical"
                                   transform="translate(53.5, 0)">
                                    <defs id="SvgjsDefs1801">
                                        <clipPath id="gridRectMask8nkg1t98">
                                            <rect id="SvgjsRect1804" width="182" height="200" x="-3" y="-1" rx="0"
                                                  ry="0" opacity="1" stroke-width="0" stroke="none"
                                                  stroke-dasharray="0"
                                                  fill="#fff"></rect>
                                        </clipPath>
                                        <clipPath id="gridRectMarkerMask8nkg1t98">
                                            <rect id="SvgjsRect1805" width="180" height="202" x="-2" y="-2" rx="0"
                                                  ry="0" opacity="1" stroke-width="0" stroke="none"
                                                  stroke-dasharray="0"
                                                  fill="#fff"></rect>
                                        </clipPath>
                                        <linearGradient id="SvgjsLinearGradient1811" x1="0" y1="0" x2="0" y2="1">
                                            <stop id="SvgjsStop1812" stop-opacity="1"
                                                  stop-color="rgba(242,242,242,1)"
                                                  offset="0"></stop>
                                            <stop id="SvgjsStop1813" stop-opacity="1"
                                                  stop-color="rgba(77,113,236,1)"
                                                  offset="1"></stop>
                                            <stop id="SvgjsStop1814" stop-opacity="1"
                                                  stop-color="rgba(77,113,236,1)"
                                                  offset="1"></stop>
                                        </linearGradient>
                                        <linearGradient id="SvgjsLinearGradient1822" x1="0" y1="0" x2="0" y2="1">
                                            <stop id="SvgjsStop1823" stop-opacity="1"
                                                  stop-color="rgba(109,212,177,1)"
                                                  offset="0"></stop>
                                            <stop id="SvgjsStop1824" stop-opacity="1"
                                                  stop-color="rgba(77,113,236,1)"
                                                  offset="1"></stop>
                                            <stop id="SvgjsStop1825" stop-opacity="1"
                                                  stop-color="rgba(77,113,236,1)"
                                                  offset="1"></stop>
                                        </linearGradient>
                                    </defs>
                                    <g id="SvgjsG1807" class="apexcharts-radialbar">
                                        <g id="SvgjsG1808">
                                            <g id="SvgjsG1809" class="apexcharts-tracks">
                                                <g id="SvgjsG1810"
                                                   class="apexcharts-radialbar-track apexcharts-track"
                                                   rel="1">
                                                    <path id="apexcharts-radialbarTrack-0"
                                                          d="M 88 36.4871951219512 A 62.5128048780488 62.5128048780488 0 1 1 87.9890894573576 36.48719607407566"
                                                          fill="none" fill-opacity="1"
                                                          stroke="rgba(242,242,242,0.85)"
                                                          stroke-opacity="1" stroke-linecap="round"
                                                          stroke-width="14.920256097560978" stroke-dasharray="0"
                                                          class="apexcharts-radialbar-area"
                                                          data:pathOrig="M 88 36.4871951219512 A 62.5128048780488 62.5128048780488 0 1 1 87.9890894573576 36.48719607407566"></path>
                                                </g>
                                            </g>
                                            <g id="SvgjsG1816">
                                                <g id="SvgjsG1821"
                                                   class="apexcharts-series apexcharts-radial-series"
                                                   seriesName="Profit" rel="1" data:realIndex="0">
                                                    <path id="SvgjsPath1826"
                                                          d="M 88 36.4871951219512 A 62.5128048780488 62.5128048780488 0 0 1 95.61839448490191 161.0468439100122"
                                                          fill="none" fill-opacity="0.85"
                                                          stroke="url(#SvgjsLinearGradient1822)" stroke-opacity="1"
                                                          stroke-linecap="round" stroke-width="15.381707317073172"
                                                          stroke-dasharray="0"
                                                          class="apexcharts-radialbar-area apexcharts-radialbar-slice-0"
                                                          data:angle="173" data:value="48" index="0" j="0"
                                                          data:pathOrig="M 88 36.4871951219512 A 62.5128048780488 62.5128048780488 0 0 1 95.61839448490191 161.0468439100122"></path>
                                                </g>
                                                <circle id="SvgjsCircle1817" r="55.05267682926831" cx="88" cy="99"
                                                        class="apexcharts-radialbar-hollow"
                                                        fill="transparent"></circle>
                                                <g id="SvgjsG1818" class="apexcharts-datalabels-group"
                                                   transform="translate(0, 0) scale(1)" style="opacity: 1;">
                                                    <text id="SvgjsText1819" font-family="'Muli', sans-serif" x="88"
                                                          y="117" text-anchor="middle" dominant-baseline="auto"
                                                          font-size="13px" font-weight="900" fill="#a3a5ad"
                                                          class="apexcharts-text apexcharts-datalabel-label"
                                                          style="font-family: Muli, sans-serif;">Profit
                                                    </text>
                                                    <text id="SvgjsText1820" font-family="'Muli', sans-serif" x="88"
                                                          y="97" text-anchor="middle" dominant-baseline="auto"
                                                          font-size="21px" font-weight="900" fill="#4d4f5c"
                                                          class="apexcharts-text apexcharts-datalabel-value"
                                                          style="font-family: Muli, sans-serif;">48%
                                                    </text>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                    <line id="SvgjsLine1827" x1="0" y1="0" x2="176" y2="0" stroke="#b6b6b6"
                                          stroke-dasharray="0" stroke-width="1"
                                          class="apexcharts-ycrosshairs"></line>
                                    <line id="SvgjsLine1828" x1="0" y1="0" x2="176" y2="0" stroke-dasharray="0"
                                          stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line>
                                </g>
                                <g id="SvgjsG1803" class="apexcharts-annotations"></g>
                            </svg>
                            <div class="apexcharts-legend"></div>
                        </div>
                    </div>
                    <div class="radial_footer">
                        <div class="radial_footer_inner d-flex justify-content-between">
                            <div class="left_footer">
                                <h5><span style="background-color: #EDECFE;"></span> Blance</h5>
                                <p>-$18,570</p>
                            </div>
                        </div>
                    </div>
                    <div class="resize-triggers">
                        <div class="expand-trigger">
                            <div style="width: 342px; height: 423px;"></div>
                        </div>
                        <div class="contract-trigger"></div>
                    </div>
                </div>
                <div class="white_box mb_30 min_430" style="position: relative;">
                    <div class="box_header  box_header_block">
                        <div class="main-title">
                            <h3 class="mb-0">% Активных рассылок</h3>
                        </div>
                    </div>
                    <div id="radial_2" style="min-height: 200.7px;">
                        <div id="apexchartsjqt3m60ik"
                             class="apexcharts-canvas apexchartsjqt3m60ik apexcharts-theme-light"
                             style="width: 281px; height: 200.7px;">
                            <svg id="SvgjsSvg1771" width="281" height="200.7" xmlns="http://www.w3.org/2000/svg"
                                 version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg"
                                 xmlns:data="ApexChartsNS"
                                 transform="translate(0, 0)" style="background: transparent;">
                                <g id="SvgjsG1773" class="apexcharts-inner apexcharts-graphical"
                                   transform="translate(53.5, 0)">
                                    <defs id="SvgjsDefs1772">
                                        <clipPath id="gridRectMaskjqt3m60ik">
                                            <rect id="SvgjsRect1775" width="182" height="200" x="-3" y="-1" rx="0"
                                                  ry="0" opacity="1" stroke-width="0" stroke="none"
                                                  stroke-dasharray="0"
                                                  fill="#fff"></rect>
                                        </clipPath>
                                        <clipPath id="gridRectMarkerMaskjqt3m60ik">
                                            <rect id="SvgjsRect1776" width="180" height="202" x="-2" y="-2" rx="0"
                                                  ry="0" opacity="1" stroke-width="0" stroke="none"
                                                  stroke-dasharray="0"
                                                  fill="#fff"></rect>
                                        </clipPath>
                                        <linearGradient id="SvgjsLinearGradient1782" x1="0" y1="0" x2="0" y2="1">
                                            <stop id="SvgjsStop1783" stop-opacity="1"
                                                  stop-color="rgba(242,242,242,1)"
                                                  offset="0"></stop>
                                            <stop id="SvgjsStop1784" stop-opacity="1"
                                                  stop-color="rgba(77,113,236,1)"
                                                  offset="1"></stop>
                                            <stop id="SvgjsStop1785" stop-opacity="1"
                                                  stop-color="rgba(77,113,236,1)"
                                                  offset="1"></stop>
                                        </linearGradient>
                                        <linearGradient id="SvgjsLinearGradient1793" x1="0" y1="0" x2="0" y2="1">
                                            <stop id="SvgjsStop1794" stop-opacity="1"
                                                  stop-color="rgba(109,212,177,1)"
                                                  offset="0"></stop>
                                            <stop id="SvgjsStop1795" stop-opacity="1"
                                                  stop-color="rgba(77,113,236,1)"
                                                  offset="1"></stop>
                                            <stop id="SvgjsStop1796" stop-opacity="1"
                                                  stop-color="rgba(77,113,236,1)"
                                                  offset="1"></stop>
                                        </linearGradient>
                                    </defs>
                                    <g id="SvgjsG1778" class="apexcharts-radialbar">
                                        <g id="SvgjsG1779">
                                            <g id="SvgjsG1780" class="apexcharts-tracks">
                                                <g id="SvgjsG1781"
                                                   class="apexcharts-radialbar-track apexcharts-track"
                                                   rel="1">
                                                    <path id="apexcharts-radialbarTrack-0"
                                                          d="M 88 36.4871951219512 A 62.5128048780488 62.5128048780488 0 1 1 87.9890894573576 36.48719607407566"
                                                          fill="none" fill-opacity="1"
                                                          stroke="rgba(242,242,242,0.85)"
                                                          stroke-opacity="1" stroke-linecap="round"
                                                          stroke-width="14.920256097560978" stroke-dasharray="0"
                                                          class="apexcharts-radialbar-area"
                                                          data:pathOrig="M 88 36.4871951219512 A 62.5128048780488 62.5128048780488 0 1 1 87.9890894573576 36.48719607407566"></path>
                                                </g>
                                            </g>
                                            <g id="SvgjsG1787">
                                                <g id="SvgjsG1792"
                                                   class="apexcharts-series apexcharts-radial-series"
                                                   seriesName="Budget" rel="1" data:realIndex="0">
                                                    <path id="SvgjsPath1797"
                                                          d="M 88 36.4871951219512 A 62.5128048780488 62.5128048780488 0 1 1 33.325068905098775 129.3068091934602"
                                                          fill="none" fill-opacity="0.85"
                                                          stroke="url(#SvgjsLinearGradient1793)" stroke-opacity="1"
                                                          stroke-linecap="round" stroke-width="15.381707317073172"
                                                          stroke-dasharray="0"
                                                          class="apexcharts-radialbar-area apexcharts-radialbar-slice-0"
                                                          data:angle="241" data:value="67" index="0" j="0"
                                                          data:pathOrig="M 88 36.4871951219512 A 62.5128048780488 62.5128048780488 0 1 1 33.325068905098775 129.3068091934602"></path>
                                                </g>
                                                <circle id="SvgjsCircle1788" r="55.05267682926831" cx="88" cy="99"
                                                        class="apexcharts-radialbar-hollow"
                                                        fill="transparent"></circle>
                                                <g id="SvgjsG1789" class="apexcharts-datalabels-group"
                                                   transform="translate(0, 0) scale(1)" style="opacity: 1;">
                                                    <text id="SvgjsText1790" font-family="'Muli', sans-serif" x="88"
                                                          y="117" text-anchor="middle" dominant-baseline="auto"
                                                          font-size="13px" font-weight="900" fill="#a3a5ad"
                                                          class="apexcharts-text apexcharts-datalabel-label"
                                                          style="font-family: Muli, sans-serif;">Budget
                                                    </text>
                                                    <text id="SvgjsText1791" font-family="'Muli', sans-serif" x="88"
                                                          y="97" text-anchor="middle" dominant-baseline="auto"
                                                          font-size="21px" font-weight="900" fill="#4d4f5c"
                                                          class="apexcharts-text apexcharts-datalabel-value"
                                                          style="font-family: Muli, sans-serif;">67%
                                                    </text>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                    <line id="SvgjsLine1798" x1="0" y1="0" x2="176" y2="0" stroke="#b6b6b6"
                                          stroke-dasharray="0" stroke-width="1"
                                          class="apexcharts-ycrosshairs"></line>
                                    <line id="SvgjsLine1799" x1="0" y1="0" x2="176" y2="0" stroke-dasharray="0"
                                          stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line>
                                </g>
                                <g id="SvgjsG1774" class="apexcharts-annotations"></g>
                            </svg>
                            <div class="apexcharts-legend"></div>
                        </div>
                    </div>
                    <div class="radial_footer">
                        <div class="radial_footer_inner d-flex justify-content-between">
                            <div class="left_footer">
                                <h5><span style="background-color: #EDECFE;"></span> Blance</h5>
                                <p>-$18,570</p>
                            </div>
                        </div>
                    </div>
                    <div class="resize-triggers">
                        <div class="expand-trigger">
                            <div style="width: 342px; height: 423px;"></div>
                        </div>
                        <div class="contract-trigger"></div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<style>
    .hover-effect-btn {
      position: relative;
      width: 100%;
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5); /* Настройка цвета и прозрачности для блока с заголовком */
      transition: background 0.5s ease;
    }
    .hover-effect-btn:hover .overlay {
      display: block;
      background: rgba(0, 0, 0, 0.9); /* Настройка цвета и прозрачности для блока с заголовком при наведении */
    }
    .title {
      position: absolute;
      width: 100%;
      left: 0;
      top: 25%; /* Отступ сверху */
      font-size: 1.900em; /* Размер текста заголовка */
      text-align: center;
      text-transform: uppercase; /* Заглавные буквы */
      color: white; /* Цвет заголовка */
      z-index: 1;
      transition: top .5s ease;
    }
    .hover-effect-btn:hover .title {
      top: 10%; /* Отступ сверху при наведении */
    }
    .button {
      position: absolute;
      width: 100%;
      left:0;
      top: 65%; /* Отступ сверху */
      text-align: center;
      opacity: 0;
      transition: opacity .35s ease;
    }
    .button a {
      padding: 15px 40px; /* Отступ */
      text-align: center;
      background: #ff921e; /* Цвет кнопки */
      color: white; /* Цвет текста */
      border: 1px solid white; /* Ширина, стиль и цвет границы */
      z-index: 1;
    }
    .hover-effect-btn:hover .button {
      opacity: 1;
    }
</style>

{% endblock %}